body{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: lightsalmon;
}
.navBar{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    height:50px;
    background-color: teal;
}
.nav{
    padding-left:70px;
    margin-bottom:7px;

}
.nav a{
    text-decoration: none;
    color:lightsalmon;
}
.intro{
    height:450px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner{
    height:100px;
    width:100%;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    font-size:2em;
    font-weight: bold;
    color:coral;
    display:flex;
    align-items: center;
    justify-content: center;
}
.summary h2{
    margin-top:90px;
    padding-left:20px;
    color:yellow;
}
.summary h4{
    padding-left:20px;
    color:white;
    font-weight: 300;
}
.photos{
    display:flex;
    justify-content: center;
    align-items: center;
}
.photos img{
    width:30%;
    margin:1.5%;
}
.testimonial{
    height:300px;
    background-color: teal;
    margin-bottom:50px;
}
.testimonial h1{
    font-size:40px;
    padding-top:40px;
    color:yellow;
    padding-left:20px;
}
.testimonial h4{
    color:yellow;
    padding-left:20px;
    font-weight:300;
}
.meetup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.meetup img{
    width:50%;
}
.meetup h1{
    color:yellow;
}